#earthbodyLP {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: 100% 100%;
    display: block;
      margin-left: auto;
      margin-right: auto;

}

  /* background-image: url('./img/landingPage.png') */


body {background-color: #f84747;}
